.card-sports {
    .h3,
    h3 {
        font-size: 1.0625rem !important;
    }
    .h5,
    h5 {
        font-size: 1.125rem;
    }
    .h4,
    h4 {
        font-size: .9375rem;
    }
    .avatar-xs {
        font-size: .75rem;
        width: 24px;
        height: 24px;
    }
    .card-img {
        height: 210px;
        max-height: 210px;
    }
    .sports-autor {
        width: 90%;
        overflow: hidden;
    }
}

.temp-display {
    font-size: 8em !important;
}

.temp-desc {
    font-size: 1.6rem;
}

.loader-container {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.dot {
    width: 10px;
    height: 10px;
    border: 2px solid #3a3d3b;
    border-radius: 50%;
    float: left;
    margin: 0 5px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: fx 1000ms ease infinite 0ms;
    animation: fx 1000ms ease infinite 0ms;
    &:nth-child(2) {
        -webkit-animation: fx 1000ms ease infinite 300ms;
        animation: fx 1000ms ease infinite 300ms;
    }
    &:nth-child(3) {
        -webkit-animation: fx 1000ms ease infinite 600ms;
        animation: fx 1000ms ease infinite 600ms;
    }
}

@-webkit-keyframes fx {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fx {
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.temperature {
    color: #3D414C;
    font-size: 5em;
    transition: color 0.5s ease;
    &:hover {
        color: yellow;
    }
    h2 {
        display: inline;
        color: #eee;
        font-weight: 100;
        font-size: 8rem;
        font-family: 'Poppins';
        span.degree-symbol {
            display: inline-block;
            margin: 0px 5px;
            font-size: 0.6em;
            vertical-align: top;
        }
        span.celcius {
            display: inline-block;
            margin: 10px 0px 0px 15px;
            color: #3D414C;
            font-size: 0.3em;
            vertical-align: top;
        }
    }
}